In [2]:
import pandas as pd

In [5]:
df = pd.read_excel("datos.xlsx")
df

,ID,Job Title,Email Address,FirstName LastName
0,1,Ambulatory Nurse,Elijah_Stevens3672@famism.biz,Elijah Stevens
1,2,Webmaster,Karla_Walter4247@gompie.com,Karla Walter
2,3,Investment Advisor,Sharon_Stewart2228@infotech44.tech,Sharon Stewart
3,4,Pharmacist,Owen_Kent7264@bungar.biz,Owen Kent
4,5,Bellman,Skylar_Campbell2353@bauros.biz,Skylar Campbell
5,6,Paramedic,Tony_Leigh9337@vetan.org,Tony Leigh
6,7,Restaurant Manager,Ally_Needham2335@muall.tech,Ally Needham
7,8,Executive Director,Caydence_Corbett2511@corti.com,Caydence Corbett
8,9,Fabricator,Bethany_Potter6853@bretoux.com,Bethany Potter
9,10,Business Broker,Mason_Marshall8843@acrit.org,Mason Marshall
10,data generated with OnlineDataGenerator availa...,NaN,NaN,NaN

In [16]:
df.query(""" ID == '7' """)

  ID           Job Title                Email Address FirstName LastName
6  7  Restaurant Manager  Ally_Needham2335@muall.tech       Ally Needham

In [18]:
dictionary = { "Nombre" : "Pepe", "Edad" : 47}

In [22]:
for k,v in dictionary.items() : 
    print (f"El nombre es {k}, y el valor es {v}")

El nombre es Nombre, y el valor es Pepe
El nombre es Edad, y el valor es 47

In [24]:
usuarios = [1,2,3,4,5]
for usuario in usuarios : 
    print(f" El usuario es {usuario}")

 El usuario es 1
 El usuario es 2
 El usuario es 3
 El usuario es 4
 El usuario es 5

In [29]:
usuarios = [{ "Nombre" : "Pepe", "Edad" : 47},
            { "Nombre" : "Maria", "Edad" : 37}
           ]
for usuario in usuarios :
    for k,v in usuario.items() : 
        print (f"El nombre es {k}, y el valor es {v}")

El nombre es Nombre, y el valor es Pepe
El nombre es Edad, y el valor es 47
El nombre es Nombre, y el valor es Maria
El nombre es Edad, y el valor es 37

In [31]:
df = pd.read_excel("datos.xlsx")
df.to_dict(orient="records")

[{'ID': '1',
  'Job Title': 'Ambulatory Nurse',
  'Email Address': 'Elijah_Stevens3672@famism.biz',
  'FirstName LastName': 'Elijah Stevens'},
 {'ID': '2',
  'Job Title': 'Webmaster',
  'Email Address': 'Karla_Walter4247@gompie.com',
  'FirstName LastName': 'Karla Walter'},
 {'ID': '3',
  'Job Title': 'Investment  Advisor',
  'Email Address': 'Sharon_Stewart2228@infotech44.tech',
  'FirstName LastName': 'Sharon Stewart'},
 {'ID': '4',
  'Job Title': 'Pharmacist',
  'Email Address': 'Owen_Kent7264@bungar.biz',
  'FirstName LastName': 'Owen Kent'},
 {'ID': '5',
  'Job Title': 'Bellman',
  'Email Address': 'Skylar_Campbell2353@bauros.biz',
  'FirstName LastName': 'Skylar Campbell'},
 {'ID': '6',
  'Job Title': 'Paramedic',
  'Email Address': 'Tony_Leigh9337@vetan.org',
  'FirstName LastName': 'Tony Leigh'},
 {'ID': '7',
  'Job Title': 'Restaurant Manager',
  'Email Address': 'Ally_Needham2335@muall.tech',
  'FirstName LastName': 'Ally Needham'},
 {'ID': '8',
  'Job Title': 'Executive Director',
  'Email Address': 'Caydence_Corbett2511@corti.com',
  'FirstName LastName': 'Caydence Corbett'},
 {'ID': '9',
  'Job Title': 'Fabricator',
  'Email Address': 'Bethany_Potter6853@bretoux.com',
  'FirstName LastName': 'Bethany Potter'},
 {'ID': '10',
  'Job Title': 'Business Broker',
  'Email Address': 'Mason_Marshall8843@acrit.org',
  'FirstName LastName': 'Mason Marshall'},
 {'ID': 'data generated with OnlineDataGenerator available at: https://www.onlinedatagenerator.com ',
  'Job Title': nan,
  'Email Address': nan,
  'FirstName LastName': nan}]

In [34]:
usuarios
df_usuarios = pd.DataFrame(usuarios)
df_usuarios

  Nombre  Edad
0   Pepe    47
1  Maria    37

In [35]:
df_usuarios.to_excel("usuarios.xlsx",
             sheet_name='Hoja1',engine='openpyxl')