In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("datos.xlsx")
df

,ID,Job Title,Email Address,FirstName LastName
0,1,Ambulatory Nurse,Elijah_Stevens3672@famism.biz,Elijah Stevens
1,2,Webmaster,Karla_Walter4247@gompie.com,Karla Walter
2,3,Investment Advisor,Sharon_Stewart2228@infotech44.tech,Sharon Stewart
3,4,Pharmacist,Owen_Kent7264@bungar.biz,Owen Kent
4,5,Bellman,Skylar_Campbell2353@bauros.biz,Skylar Campbell
5,6,Paramedic,Tony_Leigh9337@vetan.org,Tony Leigh
6,7,Restaurant Manager,Ally_Needham2335@muall.tech,Ally Needham
7,8,Executive Director,Caydence_Corbett2511@corti.com,Caydence Corbett
8,9,Fabricator,Bethany_Potter6853@bretoux.com,Bethany Potter
9,10,Business Broker,Mason_Marshall8843@acrit.org,Mason Marshall
10,data generated with OnlineDataGenerator availa...,NaN,NaN,NaN

In [5]:
usuarios = [{"Nombre": "Jaime Alvaro" , "Cargo" : "Marido" },
      {"Nombre": "Mónica Romero de Ávila" , "Cargo" : "Mujer" },
     ]
usuarios

[{'Nombre': 'Jaime Alvaro', 'Cargo': 'Marido'},
 {'Nombre': 'Mónica Romero de Ávila', 'Cargo': 'Mujer'}]

In [8]:
usuarios.to_excel("usuarios.xlsx", sheet_name='Sheet_name_1',engine='xlsxwriter')

AttributeError: 'list' object has no attribute 'to_excel'